@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');



*{
    font-family: 'Open sans', sans-serif;

}

body{
    margin: 0;
    width: 100%;
}

.cabecalho{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo img{
    width: 50%;

}

.progresso{
    display: flex;
    justify-content: space-evenly;
}

.obj-progresso{
    display: flex;
    align-items: center;
    gap: 5px;
}


.number-progresso{
    background: none;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid #4C6B7C;
    color: #001A28;

}

.number-progresso img{
    width: 20px;
    height: 50%;
}


span#first{
    color: #ffffff;
    background: #0AACD6;
    border: none;
    padding: 11px 16px;
}


.name-progresso{
    text-transform: uppercase;
    color:  #001A28;
    padding: 15px;
    font-size: 14px;
}

main{
    height: 70vh;
}

.checkout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0AACD6;
    margin: 0px;
    padding: 0px;
}

.group-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 17vw;
    padding: 36px 50px;
}

.logo-footer{
    width: 150px;
    height: 70px;
}

.copyright{
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.copyright h5{
    font-weight: 100;
}

h4{
    color: #ffffff;
}

.metodo-pay{
    padding: 1px 4px;
    width: 50px;
}

.selos{
    padding: 1px 9px;
    width: 90px;
}


@media screen and (max-width: 992px) {
    .content-header{
        display: flex;
        flex-direction: column;
    }

    .progresso{
        gap: 25px;
    }

    .name-progresso{
        display: none;
    }

    .logo{
        display: flex;
        justify-content: center;

    }

    .group-checkout{
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    h4{
        display: flex;
        justify-content: center;
    }


}